In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
# ...existing code...
# new cell: record count
print("Number of records:", len(df))       # or: print(df.shape[0])
# ...existing code...

Number of records: 9704

In [10]:
# Count unique values in the fuel_type column
print("Number of fuel types:", df['fuel_type'].nunique())

# To see the actual fuel types:
print("\nFuel types:")
print(df['fuel_type'].unique())

Number of fuel types: 2

Fuel types:
['Gasoline' 'Diesel']

In [11]:
# Count columns with missing values
missing_columns = df.isnull().sum()
columns_with_missing = missing_columns[missing_columns > 0]

print("Columns with missing values:")
print(columns_with_missing)
print("\nTotal number of columns with missing values:", len(columns_with_missing))

Columns with missing values:
num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

Total number of columns with missing values: 4

In [13]:
# Get maximum fuel efficiency (mpg) for cars from Asia
max_mpg_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print("Maximum fuel efficiency (mpg) for cars from Asia:", max_mpg_asia)

Maximum fuel efficiency (mpg) for cars from Asia: 23.759122836520497

In [14]:
# Step 1: Calculate median horsepower before filling NA values
median_before = df['horsepower'].median()
print("Median horsepower before filling NA:", median_before)

# Step 2: Find most frequent value (mode)
mode_horsepower = df['horsepower'].mode()[0]  # [0] because mode can return multiple values
print("Most frequent horsepower value:", mode_horsepower)

# Step 3: Fill NA values with mode
df['horsepower'] = df['horsepower'].fillna(mode_horsepower)

# Step 4: Calculate new median after filling NA values
median_after = df['horsepower'].median()
print("Median horsepower after filling NA:", median_after)

# Step 5: Check if median changed
print("\nDid median change?", median_before != median_after)
print("Difference:", median_after - median_before)

Median horsepower before filling NA: 149.0
Most frequent horsepower value: 152.0
Median horsepower after filling NA: 152.0

Did median change? True
Difference: 3.0

In [15]:
import numpy as np

# Step 1: Select cars from Asia with specific columns and first 7 values
asian_cars = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)

# Step 2: Get NumPy array
X = asian_cars.values

# Step 3: Compute matrix multiplication of X transpose and X
XTX = X.T.dot(X)

# Step 4: Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Step 5: Create y array
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Step 6: Calculate w
w = XTX_inv.dot(X.T).dot(y)

# Step 7: Calculate sum of elements in w
w_sum = w.sum()

print("Sum of elements in w:", w_sum)

Sum of elements in w: 0.5187709081074016